%h1.page__title
  = "#{t('welcome.title_in')} #{ENV['TOURNAMENT_NAME']}"
%br
%p
  .row{style: 'text-align: center;'}
    %p
      = "#{t('welcome.body1')} #{ENV['TOURNAMENT_NAME']}. #{t('welcome.body2')}"
%br
