.row
  .col
    %h1.page__title= t('documents.title')
- tournament_name = ENV['TOURNAMENT_NAME'].downcase.gsub(' ','_')
%ul#documents-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#condition-tab.nav-link.active{'data-toggle'=>'tab', href: '#condition', role: 'tab', 'aria-controls'=>'all'}
      = t("documents.#{tournament_name}")
  %li.nav-item
    %a#crt-tab.nav-link{'data-toggle'=>'tab', href: '#crt', role: 'tab', 'aria-contrmatchesols'=>'all'}
      = t('documents.crt')
  %li.nav-item
    %a#crt-tab.nav-link{'data-toggle'=>'tab', href: '#decree', role: 'tab', 'aria-contrmatchesols'=>'all'}
      = t('documents.decree')
  %li.nav-item
    %a#crt-tab.nav-link{'data-toggle'=>'tab', href: '#command', role: 'tab', 'aria-contrmatchesols'=>'all'}
      = t('documents.command')
  %li.nav-item
    %a#crt-tab.nav-link{'data-toggle'=>'tab', href: '#statement', role: 'tab', 'aria-contrmatchesols'=>'all'}
      = t('documents.statement')

.tab-content#documents-tabs-content
  .tab-pane.fade.show.active#condition{role: 'tabpanel', 'aria-labelledby'=>'condition-tab'}
    .row
      .col
        %ul
          - Dir.glob(Rails.root.join('public', 'documents', ENV['TOURNAMENT_NAME'].downcase.gsub(' ','_'), '*.jpg')).map { |path| File.basename(path) }.sort.each do |doc_name|   
            =image_tag "/documents/#{tournament_name}/#{doc_name}", class: 'document_image'
    -# .row
    -#   .col
    -#     %a{href: "/documents/#{tournament_name}/#{tournament_name}.pdf", download: "/documents/#{tournament_name}/#{tournament_name}.pdf",}= "#{t('documents.download')} #{t("documents.#{tournament_name}")}".capitalize

  .tab-pane.fade.show#crt{role: 'tabpanel', 'aria-labelledby'=>'crt-tab'}
    .row
      .col
        %ul
          - Dir.glob(Rails.root.join('public', 'documents', 'crt', '*.jpg')).map { |path| File.basename(path) }.sort.each do |doc_name|   
            =image_tag "/documents/crt/#{doc_name}", class: 'document_image'
    -# .row
    -#   .col
    -#     %a{href: "/documents/crt/crt.pdf", download: "/documents/crt/crt.pdf",}= "#{t('documents.download')} #{t("documents.crt")}".capitalize

  .tab-pane.fade.show#decree{role: 'tabpanel', 'aria-labelledby'=>'decree-tab'}
    .row
      .col
        %ul
          - Dir.glob(Rails.root.join('public', 'documents', 'decree', '*.jpg')).map { |path| File.basename(path) }.sort.each do |doc_name|   
            =image_tag "/documents/decree/#{doc_name}", class: 'document_image'

  .tab-pane.fade.show#command{role: 'tabpanel', 'aria-labelledby'=>'command-tab'}
    .row
      .col
        %ul
          - Dir.glob(Rails.root.join('public', 'documents', 'command', '*.jpg')).map { |path| File.basename(path) }.sort.each do |doc_name|   
            =image_tag "/documents/command/#{doc_name}", class: 'document_image'

  .tab-pane.fade.show#statement{role: 'tabpanel', 'aria-labelledby'=>'statement-tab'}
    .row
      .col
        %ul
          - Dir.glob(Rails.root.join('public', 'documents', 'statement', '*.jpg')).map { |path| File.basename(path) }.sort.each do |doc_name|   
            =image_tag "/documents/statement/#{doc_name}", class: 'document_image'