.row
  .col
    %h1.page__title= t('players.payment')

.row
  .col
    = form_for :date, url: payment_player_path(@player), method: :get, role: 'form', class:'form' do |f|
      .field.form-group
        = f.label :month, t('calendar.buttonText.month')
        - select_array = t('calendar.monthNames').each_with_object({}).with_index { |(elem, hash), index| hash[elem] = index + 1 }
        = f.select :month, options_for_select(select_array, params.dig('date','month') || Time.now.month), class: 'form-control'
      .actions.form-group
        = f.submit class:'btn btn-ghost', value: t('players.amount')

-if @payment
  = render 'show_payment', weeks: @weeks
-else
  .row
    %p Выберете месяц
    



