= form_for @match, role: 'form', class:'form' do |f|

  - if @match.errors.any?
    #error_explanation
      %h2= t('matches.prohibited')
      %ul
        - @match.errors.full_messages.each do |message|
          %li= message
  - if current_user.super_admin? || current_user.is_admin?
    .row
      .col
        .field.form-group
          = f.label :name, t('matches.start_time')
          = f.datetime_select :start_time, :start_year => Date.current.year, include_blank: false, default: {"start_time(3i)"=>Time.current.day.to_s, "start_time(2i)"=>Time.current.month.to_s, "start_time(1i)"=>Time.current.year.to_s, "start_time(4i)"=>"12", "start_time(5i)"=>"00"}
      .col
        .field.form-group
          = f.label :name, t('matches.duration')
          = f.number_field :duration, min:0, include_blank: false, class: 'form-control'
    .row
      .col
        .field.form-group
          = f.label :name, t('matches.player1')
          = f.select :player_id_1, options_for_select(players_for_select, @match.player_id_1), {include_blank: false}, class: 'form-control'
      .col  
        .field.form-group
          = f.label :name, t('matches.set_1')
          = f.number_field :player1_set_1, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.set_2')
          = f.number_field :player1_set_2, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.set_3')
          = f.number_field :player1_set_3, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.efficiency')
          = f.number_field :efficiency_player_1, include_blank: false, class: 'form-control'
    .row
      .col
        .field.form-group
          = f.label :name, t('matches.player2')
          = f.select :player_id_2, options_for_select(players_for_select, @match.player_id_2), {include_blank: false}, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.set_1')
          = f.number_field :player2_set_1, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.set_2')
          = f.number_field :player2_set_2, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.set_3')
          = f.number_field :player2_set_3, min:0, max:7, include_blank: true, class: 'form-control'
      .col
        .field.form-group
          = f.label :name, t('matches.efficiency')
          = f.number_field :efficiency_player_2, include_blank: false, class: 'form-control'

  .actions.form-group
    = f.submit class:'btn btn-ghost', value: t('matches.save')
