.tab-content
  .tab-pane.fade.show.active{role: 'tabpanel', 'aria-labelledby'=>'stats-tab'}
    %table.table.table-hover.table-borderless
      %thead.table-header
        %tr
          %th.text-center= t("players.fio")
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t("players.count_set_2")
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t("players.count_set_3")
          %th.text-center= t("players.price_set_2")
          %th.text-center= t("players.price_set_3")
          %th.text-center= t("players.price_sets")
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t("players.average_time")
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t("players.efficiency")
      %tbody.table-content.with-show.player-list-body
        %td.text-center
          - @month_payment[:players].each do |player| 
            %tr{'data-id': player[:id], 'data-component'=>'player'}
              %td.text-center= player[:full_name]
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player[:all_count_set_2]
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player[:all_count_set_3]
              %td.text-center= player[:all_price_set_2]
              %td.text-center= player[:all_price_set_3]
              %td.text-center= player[:all_amount]
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player[:all_average_time]
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player[:all_efficiency]
.player__stats 
  .row
    .col
      %strong
        = t('players.price')
      %span
        = @month_payment[:all_amount]
          